@import "_reset";
@import "_variables";
@import "_start-screen";
@import "_play-screen";
@import "_end-screen";


body {
	font-family: sans-serif;
	text-align: center;
}

#keypad {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

